MISTRAL_API_KEY="your mistral ai api keys here"
HF_TOKEN= "hugging face api keys are also required in new update to use mistral ai"
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY="your langsmith api keys here"
LANGCHAIN_PROJECT="fluency-signal"
